<!-- <%- include('../template/head')-%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('../template/nav')-%>
        <main role="main" class="inner cover">
            <%- include('../template/messages')-%>
            <h1 class="cover-heading">Form Example</h1>
            <form method="POST" action="/form">
                <div class="form-group">
                    <label for="Name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" required>
                </div>
                <div class="form-group">
                    <label for="Surname">Surname</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Enter Surname" required>
                </div>
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
        </main>
        <%- include('../template/footer')-%>
    </div>
</body>
<script>
    window.onload = function () {
        document.getElementById('form').classList.add('active');
    };
</script>
</html> -->
<html lang="en">
<head>
	<title>Login Form</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			background-color: #535b63;
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
		}
		</style>


<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-color:darkslategrey">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form action="auth" method="POST">
					<div class="login100-form-avatar">
						<img src="images/avatar-01.jpg" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						66TEC's WEB BASED ERP &trade;
					</span>
					<input class="input100" type="text" name="username" placeholder="Username" required>
					<input class="input100" type="password" name="password" placeholder="Password" required>
					<input class="input100" type="submit">
				</form>
			</div>
		</div>
	</div>
    </body>
    <!-- <script>
        window.onload = function () {
            document.getElementById('form').classList.add('active');
        };
    </script> -->

</html>
